<mat-toolbar color="primary">
  <span>
    <a mat-button routerLinkActive="active" routerLink="/clients">Clients</a>
    <a mat-button routerLinkActive="active" routerLink="/images">Images</a>
    <a mat-button routerLinkActive="active" routerLink="/invoices">Invoices</a>
    <a mat-button routerLinkActive="active" routerLink="/items">Items</a>
    <a mat-button routerLinkActive="active" routerLink="/users">Users</a>
  </span>
  <span class="header-spacer"></span>
  <mat-icon class="header-icon">delete</mat-icon>
</mat-toolbar>
